                                                                  __author__="Adebayo"

# USING DATASET TO ACCESS REDSHIFT 
---
Dataset here is not dataset in the context of data but a Python package  
that wrapped on   SqlAlchemy(Python Object Relation Mapper for SQL).   
Dataset is easy to apply than SqlAlchemy. For quickstart tutorial use this [link](https://dataset.readthedocs.io/en/latest/quickstart.html).

## Install dataset with pip
___
pip is a standard packaging tool design to be used to install package from the command line
pip could be used from ipython notebook cell.

In [78]:
%sx pip install dataset

## Connecting to a database in Redshift
---
Since Redshift is PostgreSQL, a database in redshift can be connected to using 'postgresql' in as dialect in this form of string:"dialect://user:password@host:port/dbname".  
When cluster is created in the Redshift, endpoint/host, port, username and etc are created.

In [86]:
import dataset
import os

I stored my Redshift access credentials in text file in form of:
* host:hosturl
* database:databasename
* port:portnumber
* password:password
* user:username

In [66]:
## Function to read Redshift credential
def accessRedshiftCre(filename):
    try:
        with open(filename) as fl:
            credential = {line.strip().split(':')[0]:line.strip().split(':')[1] 
                          for line in fl }
        return credential
    except Exception:
        print('Error Occur')
        
        
__file__ = 'datasetRedshift.txt'
pathname = os.path.abspath(__file__)
credential =accessRedshiftCre(pathname)

In [67]:
##Connect to the database
## db = dataset.connect('postgresql://username:password@host:port/databasename')
username = credential['user']
password = credential['password']
host = credential['host']
port = credential['port']
dname = credential['database']

##conect to the database
db = dataset.connect('postgresql://'+username+':'+password+'@'+host+':'+port+'/'+dname)

## Inspecting tables in the database
---
When dealing with unknown database, it is good to have knowledge of tables stored in the database and columns of the tables

In [5]:
#list of the tables
db.tables

['venue',
 'category',
 'date',
 'sales',
 'testtable',
 'users',
 'event',
 'listing']

In [6]:
## The tables' structures
print('Venue Columns: {0}'.format(db['venue'].columns))
print('Category Columns: {0}'.format(db['category'].columns))
print('Sales Columns: {0}'.format(db['sales'].columns))
print('Date Columns: {0}'.format(db['date'].columns))
print('Event Columns: {0}'.format(db['event'].columns))
print('Users Columns: {0}'.format(db['users'].columns))
print('Listing Columns: {0}'.format(db['listing'].columns))

Venue Columns: ['venueid', 'venuename', 'venuecity', 'venuestate', 'venueseats']
Category Columns: ['catid', 'catgroup', 'catname', 'catdesc']
Sales Columns: ['salesid', 'listid', 'sellerid', 'buyerid', 'eventid', 'dateid', 'qtysold', 'pricepaid', 'commission', 'saletime']
Date Columns: ['dateid', 'caldate', 'day', 'week', 'month', 'qtr', 'year', 'holiday']
Event Columns: ['eventid', 'venueid', 'catid', 'dateid', 'eventname', 'starttime']
Users Columns: ['userid', 'username', 'firstname', 'lastname', 'city', 'state', 'email', 'phone', 'likesports', 'liketheatre', 'likeconcerts', 'likejazz', 'likeclassical', 'likeopera', 'likerock', 'likevegas', 'likebroadway', 'likemusicals']
Listing Columns: ['listid', 'sellerid', 'eventid', 'dateid', 'numtickets', 'priceperticket', 'totalprice', 'listtime']

## Reading data from the tables
---

In [34]:
## Reading data from table venue
venue = db['venue']
print('Venueid | Venuename')
print('--------|-----------------------')
for row in venue:
    print( row['venueid'],'\t|', row['venuename'])

Venueid | Venuename
--------|-----------------------
2 	| Columbus Crew Stadium
4 	| CommunityAmerica Ballpark
5 	| Gillette Stadium
7 	| BMO Field
9 	| Dick's Sporting Goods Park
10 	| Pizza Hut Park
15 	| McAfee Coliseum
16 	| TD Banknorth Garden
18 	| Madison Square Garden
19 	| Wachovia Center
22 	| Quicken Loans Arena
23 	| The Palace of Auburn Hills
24 	| Conseco Fieldhouse
25 	| Bradley Center
27 	| Time Warner Cable Arena
28 	| American Airlines Arena
29 	| Amway Arena
33 	| Ford Center
35 	| EnergySolutions Arena
37 	| Staples Center
38 	| US Airways Center
39 	| ARCO Arena
40 	| American Airlines Center
42 	| FedExForum
44 	| AT&T Center
46 	| Nassau Veterans Memorial Coliseum
47 	| Mellon Arena
52 	| RBC Center
54 	| St. Pete Times Forum
56 	| Joe Louis Arena
57 	| Sommet Center
59 	| Pengrowth Saddledome
60 	| Rexall Place
62 	| General Motors Place
63 	| Honda Center
66 	| HP Pavilion at San Jose
67 	| Ralph Wilson Stadium
68 	| Rogers Centre
72 	| Cleveland Browns Stadium
73 	| Heinz Field
74 	| Reliant Stadium
76 	| Jacksonville Municipal Stadium
81 	| Texas Stadium
82 	| Lincoln Financial Field
83 	| FedExField
85 	| Ford Field
86 	| Lambeau Field
87 	| Hubert H. Humphrey Metrodome
89 	| Bank of America Stadium
93 	| Edward Jones Dome
94 	| Monster Park
95 	| Qwest Field
97 	| Fenway Park
101 	| Progressive Field
107 	| Turner Field
113 	| Minute Maid Park
114 	| Miller Park
115 	| PNC Park
116 	| Busch Stadium
121 	| AT&T Park
123 	| Fox Theatre
127 	| Superpages.com Center
129 	| Hersheypark Stadium
200 	| Al Hirschfeld Theatre
202 	| American Airlines Theatre
205 	| Ethel Barrymore Theatre
210 	| Broadhurst Theatre
211 	| The Broadway Theatre
212 	| Circle in the Square Theatre
213 	| Cort Theatre
216 	| Helen Hayes Theatre
217 	| Hilton Theatre
218 	| Imperial Theatre
223 	| Marquis Theatre
225 	| Music Box Theatre
229 	| Palace Theatre
231 	| Gerald Schoenfeld Theatre
232 	| Shubert Theatre
234 	| St. James Theatre
235 	| Studio 54
239 	| Greek Theatre
243 	| Pasadena Playhouse
244 	| Royce Hall
247 	| Lincoln Center for the Performing Arts
248 	| Charles Playhouse
251 	| Paris Hotel
253 	| Mirage Hotel
255 	| Venetian Hotel
258 	| Tropicana Hotel
300 	| Kennedy Center Opera House
306 	| Lyric Opera House
308 	| Metropolitan Opera
1 	| Toyota Park
3 	| RFK Stadium
6 	| New York Giants Stadium
8 	| The Home Depot Center
11 	| Robertson Stadium
13 	| Rice-Eccles Stadium
14 	| Buck Shaw Stadium
17 	| Izod Center
20 	| Air Canada Centre
21 	| United Center
26 	| Philips Arena
30 	| Verizon Center
31 	| Pepsi Center
32 	| Target Center
34 	| Rose Garden
36 	| Oracle Arena
41 	| Toyota Center
43 	| New Orleans Arena
45 	| Prudential Center
48 	| HSBC Arena
49 	| Bell Centre
50 	| Scotiabank Place
53 	| BankAtlantic Center
55 	| Nationwide Arena
58 	| Scottrade Center
61 	| Xcel Energy Center
65 	| Jobing.com Arena
69 	| Dolphin Stadium
70 	| M&T Bank Stadium
71 	| Paul Brown Stadium
75 	| Lucas Oil Stadium
77 	| LP Field
78 	| INVESCO Field
79 	| Arrowhead Stadium
80 	| Qualcomm Stadium
84 	| Soldier Field
88 	| Georgia Dome
90 	| Louisiana Superdome
91 	| Raymond James Stadium
92 	| University of Phoenix Stadium
96 	| Oriole Park at Camden Yards
98 	| Yankee Stadium
99 	| Tropicana Field
100 	| U.S. Cellular Field
102 	| Comerica Park
103 	| Kauffman Stadium
104 	| Angel Stadium of Anaheim
105 	| Safeco Field
106 	| Rangers BallPark in Arlington
108 	| Shea Stadium
109 	| Citizens Bank Park
110 	| Nationals Park
111 	| Wrigley Field
112 	| Great American Ball Park
117 	| Chase Field
118 	| Coors Field
119 	| Dodger Stadium
120 	| PETCO Park
122 	| Saratoga Springs Performing Arts Center
124 	| Mountain Winery
125 	| Villa Montalvo
126 	| Shoreline Amphitheatre
128 	| E.J. Nutter Center
130 	| North Charleston Coliseum
201 	| Ambassador Theatre
203 	| August Wilson Theatre
204 	| Brooks Atkinson Theatre
206 	| Belasco Theatre
207 	| Bernard B. Jacobs Theatre
208 	| Biltmore Theatre
209 	| Booth Theatre
214 	| George Gershwin Theatre
215 	| John Golden Theatre
219 	| Longacre Theatre
220 	| Lunt-Fontanne Theatre
221 	| Lyceum Theatre
222 	| Majestic Theatre
224 	| Minskoff Theatre
226 	| Nederlander Theatre
227 	| New Amsterdam Theatre
228 	| Eugene O'Neill Theatre
230 	| Richard Rodgers Theatre
233 	| Neil Simon Theatre
236 	| Vivian Beaumont Theatre
237 	| Walter Kerr Theatre
238 	| Winter Garden Theatre
240 	| San Jose Repertory Theatre
241 	| Curran Theatre
242 	| Geffen Playhouse
245 	| The Guthrie Theater
246 	| Carnegie Hall
249 	| Paramount Theatre
250 	| Sahara Hotel
252 	| Hilton Hotel
254 	| Caesars Palace
256 	| Paris MGM Grand
257 	| Luxor Hotel
259 	| Harrahs Hotel
260 	| Ballys Hotel
261 	| Wynn Hotel
262 	| Mandalay Bay Hotel
263 	| Bellagio Hotel
264 	| New York New York
301 	| Ellie Caulkins Opera House
302 	| Detroit Opera House
303 	| Grand 1894 Opera House
304 	| War Memorial Opera House
305 	| Lyric Opera House
307 	| San Francisco Opera
309 	| Los Angeles Opera

In [24]:
#find venues in Columbus
venue = db['venue']
columbus_venues = venue.find(venuecity='Columbus')
for index, venue in enumerate(columbus_venues):
    print(index+1,'.',   venue['venuename'])

1 . Columbus Crew Stadium
2 . Nationwide Arena

In [44]:
##List name of the events that happened in Columbus crew Stadium
Event = db['event']
#since Columbus Crew Stadium has venueid of 2
Events_in_Columbus_Crew_Stadium = Event.find(venueid=2)
print('Eventname')
print('------------------------')
for row in Events_in_Columbus_Crew_Stadium:
    
    print(row['eventname'])

Eventname
------------------------
Gogol Bordello
Carrie Underwood
Steely Dan
Cake
Simple Plan
Kid Rock
Colbie Caillat
Jimmy Buffett
Jimmy Buffett
Matisyahu
Wolf Parade
Fab Faux
Neville Brothers
Fab Faux
Nashville Star
Nine Inch Nails
Bloc Party
Pat Benatar
Old 97s
Jonas Brothers
Dropkick Murphys
Fiction Plane
Soulfest
Dwight Yoakam
Isaac Hayes
Bo Bice
Brian Jonestown Massacre
Gwen Stefani
Creedence Clearwater Revisited
Built To Spill
Kanye West
Cute Is What We Aim For
Ray Davies
3 Doors Down
Wyclef Jean
Rock The Bayou
Josh Turner
Calibash
Weird Al Yankovic

## Running Custom SQL Queries

In [57]:
##Count dateid in every month
result = db.query('SELECT month, year, count(dateid) c FROM date GROUP BY 2, 1')
print('Year','\t|\t','Month','\t|\t',"Count")
print('--------|---------------|---------------------')
for row in result:
    print(row['year'],'\t|\t',row['month'],'\t|\t',row['c'] )

Year 	|	 Month 	|	 Count
--------|---------------|---------------------
2008 	|	 MAY   	|	 31
2008 	|	 JUN   	|	 30
2008 	|	 SEP   	|	 30
2008 	|	 DEC   	|	 31
2008 	|	 JAN   	|	 31
2008 	|	 FEB   	|	 28
2008 	|	 MAR   	|	 31
2008 	|	 APR   	|	 30
2008 	|	 JUL   	|	 31
2008 	|	 AUG   	|	 31
2008 	|	 OCT   	|	 31
2008 	|	 NOV   	|	 30

## Data Export
---
Export listing table to csv with dataset.freeze()

In [68]:
result = db['listing'].all()
dataset.freeze(result, format='csv', filename ='listing.csv')

In [85]:
'listing.csv' in os.listdir()

True

In [87]:
__author__ ='Adebayo'